.languages { /* Select by element class */
	font-family: 'Times New Roman';
	color: green;
}

#name { /* Select by element id */
	font-family: 'Times New Roman';
	color:mistyrose;
	font-size: 2em;
}

h1
{
color:burlywood;
}
